# Everything needed in production

# Flask
Flask>=0.10.1
MarkupSafe>=0.23
Werkzeug>=0.9.6
Jinja2>=2.7.3
itsdangerous>=0.24

# Database
Flask-SQLAlchemy>=2.0
SQLAlchemy>=0.9.8

# Migrations
Flask-Migrate>=1.3.0

# Data validation
schematics

# Testing
pytest>=2.6.3
pytest-cov
webtest

# Management script
Flask-Script
invoke
