html,
body {
    margin: 0;
    padding: 0;
}


body,
#new-scrap,
.edit {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 200px;
    max-width: 500px;
    font-weight: normal;
}

#new-scrap,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#new-scrap {
    padding: 20px;
    border: none;
    background: white;
}

#scrap-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* all .scrap input* should be removed when editing is moved out */
#new-scrap,
.scrap textarea.scrap-title,
.scrap .scrap-title h1 {
    margin: 15px 0px;
    font-size: 16px;
    font-weight: normal;
}

.scrap,
.scrap textarea.edit {
    margin: 10px 0px;
    background-color: white;
    border: 1px solid #ddd;
    position: relative;
}

.scrap form.editing textarea.scrap-title{
    display: block;
}

div.scrap-title {
    display: inline-block;
    padding: 0px 20px;
    width: 100%;
}

.scrap .remove-scrap {
    display: none;
    margin: auto 0;
    padding: 5px;
    font-size: 16px;
    border: none;
    color: lightgray;
    background: none;
    transition: color 0.2s ease-out;
}

.scrap .remove-scrap:hover {
    color: darkred;
}

.scrap:hover .remove-scrap {
    display: inline;
}

#info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

ul.tags-list {
    list-style: none;
    line-height: 3em;
}

textarea.vertical-resize {
    resize:vertical;
}

/*
------------------------------------------------------------------------------
Positioning
------------------------------------------------------------------------------
*/

.top-right {
    position: absolute;
    top: 0%;
    right: 0%;
}

/*
------------------------------------------------------------------------------
Customize ng-tags-input
------------------------------------------------------------------------------
*/

.scrap tags-input .tags .tag-item {
    background: lightgray;
    border: none;
    border-radius: 2px;
}

tags-input .input {
    background: transparent;
}

tags-input .host {
    margin: 0px;
}

tags-input .tags {
    color: #777;
    background-color: #f5f5f5;
    border: none;
    box-shadow: none;
}

.scrap tags-input .tags .tag-item,
.scrap tags-input .input {
    height: 20px;
    font-size: 12px;
    line-height: 1.8em;
}

tags-input .tags .tag-item .remove-button {
    color: #999;
}

tags-input .tags .tag-item .remove-button:hover {
    color: darkred;
    text-decoration: none;
}

/*
------------------------------------------------------------------------------
Customize bootstrap classes
------------------------------------------------------------------------------
*/

.alert {
    padding: 6px;
    margin: 4px;
    border-radius: 2px;
}

.alert-success,
.alert-info,
.alert-warning,
.alert-danger {
    background-image: none;
}

.btn-default {
    background-color: #f0f0f0;
    background-image: none;
}
