html,
body {
    margin: 0;
    padding: 0;
}


body,
button,
#new-scrap,
.edit {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
}

#scrappyrapp {
    margin: 130px 0 40px 0;
    position: relative;
}

#scrappyrapp input::-webkit-input-placeholder,
#scrappyrapp input::-moz-placeholder,
#scrappyrapp input::input-placeholder {
    font-style: italic;
    color: #e6e6e6;
}

#scrappyrapp h1#page-title {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

#new-scrap,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#new-scrap {
    padding: 20px;
    border: none;
    background: white;
}

#scrap-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#new-scrap,
li.scrap input.scrap-title,
li.scrap .scrap-title h1 {
    font-size: 24px;
    font-weight: 300;
}

li.scrap,
li.scrap input.edit {
    margin: 10px 0px;
    background-color: white;
    border: 1px solid #ddd;
    position: relative;
}

li.scrap input.scrap-title {
    display: none;
}

li.scrap.editing input.scrap-title {
    display: block;
}

li.scrap.editing .view {
    display: none;
}

div.scrap-title {
    display: inline-block;
    margin: 0px 20px;
    width: 80%;
}

li.scrap .destroy {
    display: none;
    right: 20px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

.vertical-align-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

li.scrap .destroy:hover {
    color: #af5b5e;
}

li.scrap .destroy:after {
    content: '×';
}

li.scrap:hover .destroy {
    display: inline;
}

#info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

/*
------------------------------------------------------------------------------
Customize ng-tags-input
------------------------------------------------------------------------------
*/

li.scrap tags-input .tags .tag-item {
    font-size: 12px;
    background: lightgray;
}

tags-input .input {
    background: transparent;
}

tags-input .host {
    margin: 0px;
}

tags-input .tags {
    background-color: #f5f5f5;
    border: none;
    box-shadow: none;
}
